<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Blood pressure</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
        <!-- Vendors Style-->
	<link rel="stylesheet" href="css/vendors_css.css">
    	<!-- Style-->  
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/skin_color.css">
    <script src='main.js'></script>
</head>
<body>
    <div class="col-xl-4">
        <a href="#" class="box">
            <div class="box-body">
                <img src="https://medical-admin-template.multipurposethemes.com/images/glucose-meter.svg" class="w-50 h-50 mb-5" alt="">
                <div class="fs-18 mt-5">Glucose Level</div>
                <div class="fw-400 text-primary fs-22 pb-1">85-95</div>
            </div>
        </a>
        <a href="#" class="box">
            <div class="box-body">
                <img src="https://medical-admin-template.multipurposethemes.com/images/petri-dish.svg" class="w-50 h-50 mb-5" alt="">
                <div class="fs-18 mt-5">Blood Count</div>
                <div class="fw-400 text-primary fs-22 pb-1">9.456/ml</div>
            </div>
        </a>
    </div>
</body>
</html>

