<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://medical-admin-template.multipurposethemes.com/images/favicon.ico">
    <title>Document</title>
    <!-- Vendors Style-->
    <link rel="stylesheet" href="css/vendors_css.css">

    <!-- Style-->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/skin_color.css">
</head>

<body>
    <!--Components Here-->
    <div class="box box-slided-up">
        <div class="box-header with-border">
            <h4 class="box-title">Box <strong>slided up</strong></h4>
            <ul class="box-controls pull-right">
                <li><a class="box-btn-close" href="#"></a></li>
                <li><a class="box-btn-slide" href="#"></a></li>
                <li><a class="box-btn-fullscreen" href="#"></a></li>
            </ul>
        </div>
    
        <div class="box-body">
            <div class="box-body">
                <p>Ut vestibulum enim vitae elit luctus, id tincidunt metus suscipit. Pellentesque scelerisque, massa ut
                    fringilla mollis, sem tortor pharetra mi, non consequat velit dui sed lorem.</p>
            </div>
        </div>
    </div>

    <!-- Vendor JS -->
    <script src="js/vendors.min.js"></script>
    <script src="js/pages/chat-popup.js"></script>
    <script src="../assets/icons/feather-icons/feather.min.js"></script>
    <script src="../assets/vendor_components/apexcharts-bundle/dist/apexcharts.js"></script>
    <script src="../rawgit.com/nnnick/Chart.js/v1.0.2/Chart.min.js"></script>

    <!-- Doclinic App -->
    <script src="js/template.js"></script>
    <script src="js/pages/dashboard.js"></script>
</body>

</html>