{%extends 'dash-theme.html'%}
{%load static%}
{%block details%}
<style>
    a::before{content: '' !important;}
    .med-icons label::after{
         background-image:url("{%static 'media/img/checked.png'%}");
    }
</style>
<div class="row">
    <div class="col-md-8">
        <div class="box">
            <div class="box-header">
                <h4 class="box-title">Recent Checkups</h4>
            </div>
            <div class="box-body">
                <div class="news-slider owl-carousel owl-sl">
                    
                    {% for checkup in checkups %}
                    <div>
                        <div class="d-flex align-items-center mb-10">
                            <div class="d-flex flex-column flex-grow-1 fw-500">
                                <p class="hover-primary text-fade mb-1 fs-14">#{{checkup.checkup_id}}</p>
                                <span class="text-dark fs-16">{{checkup.get_checkup_type}}</span>
                                <p class="mb-0 fs-14">{{checkup.checkup_date}}<span class="badge badge-dot badge-primary"></span></p>
                            </div>
                            <div>
                                <div class="dropdown">
                                    <a data-bs-toggle="dropdown" href="#" class="base-font mx-30"><i
                                            class="ti-more-alt text-muted"></i></a>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        <a class="dropdown-item" href="#"><i class="ti-import"></i> Import</a>
                                        <a class="dropdown-item" href="#"><i class="ti-export"></i> Export</a>
                                        <a class="dropdown-item" href="#"><i class="ti-printer"></i> Print</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#"><i class="ti-settings"></i> Settings</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-end py-10">
                            <div>
                                <a href="#" data-bs-toggle="modal" data-bs-target="#{{checkup.checkup_id}}" class="waves-effect waves-light btn btn-sm btn-primary-light">Details</a>
                                <a href="#" class="waves-effect waves-light btn btn-sm btn-primary-light">Contact
                                    Patient</a>
                            </div>
                            <div>
                                <a href="#" class="waves-effect waves-light btn btn-sm btn-primary-light"><i
                                        class="fa fa-check"></i> Archive</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="box">
            <div class="box-header">
                <h4 class="box-title">Current Vitals</h4>
            </div>
            <div class="box-body">
                <div class="flexbox bb-1 mb-15">
                    <div>
                        <p><span class="text-mute">Patient Name:</span> <strong>{{patient.fname}}</strong></p>
                    </div>
                    <div>
                        <p><span class="text-mute">Patient Id:</span> <strong>{{patient.p_id}}</strong></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="row bb-1 pb-10">
                            <div class="col-4">
                                <img class="img-fluid float-start w-30 mt-10 me-10" src="{%static 'media/images/weight.png'%}"
                                    alt="">
                                <div>
                                    <p class="mb-0"><small>Weight</small></p>
                                    <h5 class="mb-0"><span>{{patient.weight}} kg</span></h5>
                                </div>
                            </div>
                            <div class="col-4 bs-1 be-1">
                                <img class="img-fluid float-start w-30 mt-10 me-10" src="{%static 'media/images/human.png'%}"
                                    alt="">
                                <div>
                                    <p class="mb-0"><small>Height</small></p>
                                    <h5 class=" mb-0"><span>{{patient.height}}</span></h5>
                                </div>
                            </div>
                            <div class="col-4">
                                <img class="img-fluid float-start w-30 mt-10 me-10" src="{%static 'media/images/bmi.png'%}"
                                    alt="">
                                <div>
                                    <p class="mb-0"><small>BMI</small></p>
                                    <h5 class="mb-0"><span>{{patient.bmi}}</span></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-body pt-0">
                <p><small>Recorded on 25/05/2020</small></p>
            </div>
            <div class="box-body bg-primary">
                <img src="{%static 'media/images/smoking.png'%}" alt="" class="float-start me-10">
                <p>Smoking Status : current every day smoker</p>
            </div>
        </div>
    </div>
    
</div>

<div class="row">
    <div class="col-md-8">
        <!--medicine Here-->
        <div class="box box-slided-up">
            <div class="box-header with-border">
                <h4 class="box-title">Box <strong>slided up</strong></h4>
                <ul class="box-controls pull-right">
                    <li>
                        <box-icon class="" name='x'></box-icon>
                    </li>
                    <li><a class="box-btn-slide" href="#">
                            <box-icon name='chevron-down'></box-icon>
                        </a></li>
                    <li><a class="box-btn-fullscreen" href="#"></a></li>
                </ul>
            </div>
        
            <div class="box-body">
                <div class="box-body">
                   
                <form class="boxed" method="post" name="medform">
                    <div class="med-icons">
                        <input type="radio" id="pill" name="medicon" value="pill">
                        <label for="pill">
                            <img src="{%static 'media/img/pills.png'%}">
                        </label>
                        <input type="radio" id="tablet" name="medicon" value="tablet">
                        <label for="tablet">
                            <img src="{%static 'media/img/tablets.png'%}">
                        </label>
                
                        <input type="radio" id="syringe" name="medicon" value="syringe">
                        <label for="syringe">
                            <img src="{%static 'media/img/syringe.png'%}">
                        </label>
                        <input type="radio" id="syrup" name="medicon" value="syrup">
                        <label for="syrup">
                            <img src="{%static 'media/img/syrup.png'%}">
                        </label>
                    </div>
                    <div class="med-details">
                        <div class="fields">
                            <input type="text" value="" placeholder="Medcine Name">
                        </div>
                        <div class="fields">
                            <div class="column">
                                <div class="some">
                                    <label for="dose">Dose</label>
                                </div>
                                <input type="text" name="dose">
                                <span class="unit">mg</span>
                            </div>
                            <div class="column">
                                <div class="some">
                                    <label for="med_type">Type</label>
                                </div>
                                <select class="med" name="med_type" id="type">
                                    <option id="pill2" value="pills">Pill</option>
                                    <option id="tablet2" value="tablet">Tablet</option>
                                    <option id="syringe2" value="syringe">Syringe</option>
                                    <option id="syrup2" value="syrup">Syrup</option>
                                </select>
                            </div>
                        </div>
                        <div class="fields">
                            <div class="column">
                                <div class="some">
                                    <label for="intake">Intake</label>
                                </div>
                                <select class="med" name="intake">
                                    <option value="BEFORE FOOD">BEFORE FOOD</option>
                                    <option value="AFTER FOOD">AFTER FOOD</option>
                                </select>
                            </div>
                            <div class="column">
                                <div class="some">
                                    <label for="slot">slot</label>
                                </div>
                                <select class="med" name="slot" id="slot">
                                    <option value="MORNING">MORNING</option>
                                    <option value="LUNCH">LUNCH</option>
                                    <option value="DINNER">DINNER</option>
                                </select>
                            </div>
                        </div>
                    </div>
                
                    <br><br>
                    <input type="submit" class="med-sub" value="SUBMIT">
                </form>
                <script>
                    const icons = document.querySelectorAll(".med-icons input");
                    const unit = document.querySelector(".unit");
                    icons.forEach(element => {
                        element.addEventListener('change', (e) => {
                            let t_val = e.target.value;
                            if (t_val == 'pill' || t_val == 'tablet')
                                unit.innerText = 'mg'
                            else
                                unit.innerText = 'ml'
                            let tid = '#' + t_val + '2';
                            let type = document.querySelector(tid);
                            type.selected = true;
                        })
                    });
                </script>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 offset-md-2">
        <div class="box weight">
            <h4>{{patient.weight}} kg<span class="wtext">weight</span></h4>
            <span class="currentw">+10kg</span>
            {%include 'weight.html'%}
        </div>
    </div>
</div>

{%for checkup in checkups%}
<!--Model Popup Area-->
<!-- result modal content -->
<div class="modal fade" id="{{checkup.checkup_id}}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="result-popup">Radiology Investigations - Result</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row justify-content-between">
                    <div class="col-md-7 col-12">
                        <h4>Test Name - {{checkup.get_checkup_type}}</h4>
                    </div>
                    <div class="col-md-5 col-12">
                        <h4 class="text-end">Checkup Id : {{checkup.checkup_id}}</h4>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead class="bg-secondary">
                            <tr>
                                <th scope="col">Parameter</th>
                                <th scope="col">Result</th>
                                <th scope="col">Range</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for key,val in checkup.get_checkup_details.items%}
                            {%if key == 'result' or key == 'results'%}
                            <tr>
                                <th>{{key}}</th>
                                <th>{{val}}</th>
                            </tr>
                            {%else%}
                            <tr>
                                <td>{{key}}</td>
                                <td>{{val}}</td>
                                <td>&nbsp;</td>
                            </tr>
                            {%endif%}
                            {%endfor%}
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="comment">
                    <p><span class="fw-600">Comment</span> : <span class="comment-here text-mute">Lorem ipsum dolor sit
                            amet, consectetur adipisicing elit. </span></p>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th colspan="2" class="b-0">Test By</th>
                                <th colspan="2" class="b-0">Signed By</th>
                            </tr>
                            <tr class="bg-secondary">
                                <td>Donald jr</td>
                                <td>Time : 11-8-2017 04:22</td>
                                <td>Lous Clark</td>
                                <td>Time : 11-8-2017 04:22</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger pull-right" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-info pull-right">Print</button>
                <button type="button" class="btn btn-success pull-right">Save</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
{%endfor%}
<!-- /.modal -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"> </script>
<script src="{%static 'js/chart.js'%}"></script>
<script>get_data([67, 72, 68, 67, 67.8, 71])</script>

{%endblock%}