{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{%static 'media/images/HEALTHICA.png'%}">
    <title>Document</title>
    <!-- Vendors Style-->
    <link rel="stylesheet" type="text/css" href="{%static 'styles/style1.css'%}">
    <link rel="stylesheet" href="{%static 'styles/css/vendors_css.css'%}">

    <!-- Style-->
    <link rel="stylesheet" href="{%static 'styles/dash.css'%}">
    <link rel="stylesheet" href="{%static 'styles/css/style.css'%}">
    <link rel="stylesheet" href="{%static 'styles/css/skin_color.css'%}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&family=Nunito+Sans:wght@600&family=Roboto+Condensed&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
    
        @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&family=Roboto+Condensed&display=swap');
         @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
            *{
                  font-family: 'Poppins', sans-serif;
            }
            .name h1{
                font-family: 'Nunito Sans', sans-serif;
                font-family: 'Roboto Condensed', sans-serif;
                margin-bottom: 0;
            }
            .navbar{
                justify-content: normal;
            }
            .name{
                margin-right: 50%;
            }
    </style>
    
</head>

<body class="sidebar-mini theme-primary fixed">
    <!--Components Here-->
    <!--header navbar-->
    <header class="main-header">

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <div class="app-menu">
                <ul class="header-megamenu nav">
                    <li class="btn-group nav-item">
                        <a href="#" class="waves-effect waves-light nav-link push-btn btn-primary-light"
                            data-toggle="push-menu" role="button">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                <!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                                <path
                                    d="M0 96C0 78.33 14.33 64 32 64H416C433.7 64 448 78.33 448 96C448 113.7 433.7 128 416 128H32C14.33 128 0 113.7 0 96zM0 256C0 238.3 14.33 224 32 224H416C433.7 224 448 238.3 448 256C448 273.7 433.7 288 416 288H32C14.33 288 0 273.7 0 256zM416 448H32C14.33 448 0 433.7 0 416C0 398.3 14.33 384 32 384H416C433.7 384 448 398.3 448 416C448 433.7 433.7 448 416 448z" />
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="name">
                <h1>Good Morning, {{patient.fname}}!</h1>
                <span class="btext">
                    Happiness is nothing more than good health!
                </span>
            </div>

            <div class="navbar-custom-menu r-side">
                <ul class="nav navbar-nav">
                    
                    <li class="btn-group nav-item d-lg-inline-flex d-none">
                        <a href="#" data-provide="fullscreen"
                            class="waves-effect waves-light nav-link full-screen btn-warning-light" title="Full Screen">
                            <i class="icon-Position"></i>
                        </a>
                    </li>
                    <!-- Notifications -->
                    <li class="dropdown notifications-menu">
                        <a href="#" class="waves-effect waves-light dropdown-toggle btn-info-light"
                            data-bs-toggle="dropdown" title="Notifications">
                            <i class="icon-Notification"><span class="path1"></span><span class="path2"></span></i>
                        </a>
                        <ul class="dropdown-menu animated bounceIn">
                            <li class="header">
                                <div class="p-20">
                                    <div class="flexbox">
                                        <div>
                                            <h4 class="mb-0 mt-0">Notifications</h4>
                                        </div>
                                        <div>
                                            <a href="#" class="text-danger">Clear All</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <!-- inner menu: contains the actual data -->
                                <ul class="menu sm-scrol">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-users text-info"></i> Curabitur id eros quis nunc suscipit
                                            blandit.
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-warning text-warning"></i> Duis malesuada justo eu sapien
                                            elementum, in semper diam posuere.
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-users text-danger"></i> Donec at nisi sit amet tortor
                                            commodo
                                            porttitor pretium a erat.
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-shopping-cart text-success"></i> In gravida mauris et nisi
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-user text-danger"></i> Praesent eu lacus in libero dictum
                                            fermentum.
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-user text-primary"></i> Nunc fringilla lorem
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-user text-success"></i> Nullam euismod dolor ut quam
                                            interdum,
                                            at scelerisque ipsum imperdiet.
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer">
                                <a href="#">View all</a>
                            </li>
                        </ul>
                    </li>
                    <!-- Control Sidebar Toggle Button -->
                    <li class="btn-group nav-item">
                        <a href="#" data-toggle="control-sidebar" title="Setting"
                            class="waves-effect full-screen waves-light btn-danger-light">
                            <i class="icon-Settings1"><span class="path1"></span><span class="path2"></span></i>
                        </a>
                    </li>

                </ul>
            </div>
        </nav>
    </header>
    <!--Sidebar-->
    <aside class="main-sidebar">
        <!-- sidebar-->
        <section class="sidebar position-relative">
            <div class="multinav">
                <div class="multinav-scroll ps ps--active-y" style="height: 100%;">
                    <!-- sidebar menu-->
                    <div class="navigation">
                        <ul>
                            <div class="d-flex align-items-center logo-box justify-content-start">
                                <!-- Logo -->
                                <a href="{%url 'home'%}" class="logo">
                                    <!-- logo-->
                                    <div class="logo-mini w-50">
                                        <span class="light-logo"><img src="{%static 'media/images/HEALTHICA.png'%}"
                                                alt="logo"></span>
                                        <span class="dark-logo"><img src="../C" alt="logo"></span>
                                    </div>
                                    <div class="logo-lg">
                                        <span class="light-logo"><img src="{%static 'media/images/healthica-text.png'%}"
                                                alt="logo"></span>
                                        <span class="dark-logo"><img src="{%static 'media/images/logo-light-text.png'%}"
                                                alt="logo"></span>
                                    </div>
                                </a>
                            </div>
                            <li class="list active" id="home">
                                <a href="{{patient.dash_url}}">
                                    <span class="icon">
                                        <ion-icon name="home-outline"></ion-icon>
                                    </span>
                                    <span class="title" >Home</span>
                                </a>
                            <li class="list active"  id="reports">
                                <a href="{{patient.dash_url}}/reports">
                                    <span class="icon">
                                        <ion-icon name="document-outline"></ion-icon>
                                    </span>
                                    <span class="title">Reports</span>
                                </a>
                            </li>
                            <li class="list active">
                                <a href="#">
                                    <span class="icon">
                                        <ion-icon name="medical-outline"></ion-icon>
                                    </span>
                                    <span class="title">Diagnosis</span>
                                </a>
                            </li>
                            <li class="list active">
                                <a href="#">
                                    <span class="icon">
                                        <ion-icon name="settings-outline"></ion-icon>
                                    </span>
                                    <span class="title">Settings</span>
                                </a>
                            </li>
                            <li class="list active">
                                <a href="#">
                                    <span class="icon">
                                        <ion-icon name="help-outline"></ion-icon>
                                    </span>
                                    <span class="title">Help</span>
                                </a>
                            </li>
                            <li class="list active ">
                                <a href="#">
                                    <span class="icon">
                                        <ion-icon name="log-out-outline"></ion-icon>
                                    </span>
                                    <span class="title">Sign-Out</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
        </section>
    </aside>
    <div class="content-wrapper">
        <div class="container-full">
            {%block details%}
            {%endblock%}
        </div>
       
    </div>
    {{ patient_id|json_script:"room-name" }}
    
    <script>
        // add active class in selected tab
        const list = document.querySelectorAll('.list');
        var cpage=document.getElementById('{{current_page}}');
        //console.log('{{current_page}}');
        NodeList.prototype.indexOf = Array.prototype.indexOf;
        ind=list.indexOf(cpage);
        console.log(ind);
        list.forEach((item) => item.classList.remove('active'));
        list[ind].classList.add('active');
        function activeLink() {
            list.forEach((item) => item.classList.remove('active'));
            this.classList.add('active');
        }
        list.forEach((item) => item.addEventListener('click', activeLink));
    </script>

    
    <!-- Vendor JS -->
    
    <script src="{%static 'djs/vendors.min.js'%}"></script>

    <!-- Doclinic App -->
    <script src=""></script>
    <script src="{%static 'djs/template.js'%}"></script>
    <script src="{%static 'js/push.min.js'%}"></script>
    <script src="{%static 'js/serviceWorker.min.js'%}"></script>
    
    <script src="{%static 'assets/icons/feather-icons/feather.min.js'%}"></script>
    <script src="{%static 'assets/vendor_components/OwlCarousel2/dist/owl.carousel.js'%}"></script>
    <script src="{%static 'djs/pages/dashboard2.js'%}"></script>
    <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script src="{%static 'assets/vendor_components/apexcharts-bundle/dist/apexcharts.js'%}"></script>
    <script>
        const patient_id = JSON.parse(document.getElementById('room-name').textContent);
        const notificationSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/patient-dashboard/'
            + patient_id
            + '/'
        );

        notificationSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            console.log(data);
            Push.create(data.message, {
                body: data.medicine,
                icon: "{%static 'media/images/HEALTHICA.png'%}",
                link:"{{patient.dash_url}}",
                onClick: function () {
                    window.focus();
                    this.close();
                }
            });
            fetch('http://127.0.0.1:8000/health/updatePrescription', {
                method: 'POST',
                body: JSON.stringify({ patient_id: "{{patient.p_id}}" }),
                mode: 'cors',
                headers: {
                    'Content-Type': 'application/html'
                },
            })
                .then(res => res.text())
                .then(r=>{
                    document.querySelector('.modalrem').innerHTML = r;
                    const med=document.querySelector('.medshow');
                    med.innerHTML=r+med.innerHTML;
                    //console.log(r);
                    myreminder();
                }).catch((error) => {
                    console.log('Error', error);
                    //textField.value = ''
                });

            
            
            //document.getElementById('noti-container').innerHTML += '<input class="checkbox" type="checkbox" id="size_1" value="small" checked />' + '<label class="notification new" for= "size_1"> <em>1</em>' + data["message"] + '<i class="material-icons dp48 right" >clear</i></label>';
            //document.getElementById('noti-count').innerHTML = parseInt(document.getElementById('noti-count').innerHTML) + 1
            //document.querySelector('#notification-log').value += (data.message + '\n');
        };

        notificationSocket.onclose = function (e) {
            console.error('notification socket closed unexpectedly');
        };

        


    </script>
</body>

</html>